<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <!-- <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header> -->
    
      <ion-card-content>
        <!-- <ion-list> -->
          <ion-item>
            <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          </ion-item>
        <!-- </ion-list> -->
        <ion-button expand="block" (click)="loginHandle()">Log In</ion-button>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
